<h3>Your payment was denied</h3>
<p>We were unable to process your payment for your <%= Pay.application_name %> subscription due to a deny status from the payment gateway.</p>
<p>Please verify your payment details or try another payment method.</p>
<p><%= link_to "Update billing information", root_url %></p>
<p>Let us know if you have any questions.</p>
<p>— The <%= Pay.application_name %> Team</p>
